<div id="profile" class="px-6 py-10">
  </div>

<div id="nav" class="w-full px-6">
  
  <a *ngFor="let option of menuOptions"
   [routerLink]="option.router"
   routerLinkActive="active-link"
   class="flex items-center p-3 rounded-lg text-gray-300 transition-colors duration-200 hover:bg-gray-800 hover:text-white">
  
  <i [ngClass]="option.icon" class="w-8 text-center text-lg mr-2 text-gray-400"></i>
  
  <div class="flex flex-col">
    <span class="font-semibold">{{ option.title }}</span>
    <span class="text-xs text-gray-500">{{ option.subtitle }}</span>
  </div>
</a>

  <hr class="my-4 border-slate-700"/>

  <h3 class="text-lg text-slate-300 font-semibold mb-2 px-2">Historial</h3>

  <ul class="space-y-1">
    @for (tag of gifsService.history(); track tag) {
      <li>
        <button 
          (click)="searchFromHistory(tag)"
          class="w-full text-left px-3 py-2 rounded-md transition-colors text-slate-400
                 hover:bg-gray-800 hover:text-white focus:outline-none focus:bg-gray-800 capitalize text-sm"
        >
          {{ tag }}
        </button>
      </li>
    } @empty {
       <li class="px-3 py-2 text-sm text-slate-500">No hay historial.</li>
    }
  </ul>
</div>